@tailwind base;
@tailwind components;
@tailwind utilities;

.grad {
    border-image: linear-gradient(45deg, #3D8BFF, #AB23FF) 1;
  }
.market::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for Chrome, Safari, and newer versions of Edge */
}
.token::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for Chrome, Safari, and newer versions of Edge */
}
